.about{
    height: calc(100% - 9%);
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 60%;
    padding:  4vw;
}
h3{
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.right{
    height: 100%;
    width: calc(100% - 60%);
}