.card{
    height: 60%;
    width: 18%;
    border: 1px solid #060605;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(1, 49, 53);
    margin-top: 2vw;
    padding: 0 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}